<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input class="form-control" placeholder="Nombre" [formControl]="name">
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input class="form-control" placeholder="Email" type="email" [formControl]="email">
            </div>
            <button class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

{{ name.value}}
{{ email.value}}